/* css styles */

.navbar {
  background-color: #4B2E83;
}

.card img {
  border-radius: 12px;
  margin-bottom: 10px;
}
.card p {
  font-size: 0.9em;
  line-height: 1.2;
}

section.fullpage {
  min-height: 100vh;   /* fills the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  scroll-snap-align: start;
  border-bottom: 2px solid #ccc;
}
body {
  scroll-snap-type: y mandatory;
}

